.game_area {
   text-align: center;
}

.game_info {
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   line-height: 24px;
   background-color: cyan;
}

.input {
   background-color: rgba(200, 111, 228, 0.459);
}


.score {
   font-size: large;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: rgb(38, 0, 209);
}

.status {
   font-size: medium;
}

.title {
   color: rgb(38, 0, 209);
}
